<aside>
  <h2>GoInstant</h2>
  <h3 class="project-link"><a href="http://goinstant.com">http://goinstant.com</a></h3>
  <p>Starting in 2013, I've been a part of all elements of design at GoInstant (acquired by Salesforce in 2012) from interface design to creating our visual brand. See our <a href="http://goinstant.com">homepage</a> and <a href="http://github.com/goinstant">GitHub account</a> to learn more about GoInstant.</p>
  <a href="/projects" class="back">Back</a>
</aside>
<article>
  <div>
    <img src="<%= imgpath %>/projects/goinstant/goinstant-1.jpg" alt="GoInstant Homepage">
    <p>GoInstant Homepage</p>
  </div>
  <div>
    <img src="<%= imgpath %>/projects/goinstant/goinstant-5.jpg" alt="GoInstant Homepage">
    <p>The dashboard of GoInstant where users create and edit apps.</p>
  </div>
  <div>
    <img src="<%= imgpath %>/projects/goinstant/goinstant-6.jpg" alt="GoInstant Homepage">
    <p>This visualization of keys and values allows developers to inspect and edit their app's data.</p>
  </div>
  <div>
    <img src="<%= imgpath %>/projects/goinstant/goinstant-2.jpg" alt="GoInstant Homepage">
    <p>Learning how to use GoInstant on the <a href="https://goinstant.com/getting-started" target="_blank">Getting Started</a> page.</p>
  </div>
  <div>
    <img src="<%= imgpath %>/projects/goinstant/goinstant-3.jpg" alt="GoInstant Homepage">
    <p>Documentation for GoInstant. <a href="http://developers.goinstant.com/v1">Check it out here.</a></p>
  </div>
  <div>
    <img src="<%= imgpath %>/projects/goinstant/goinstant-4.jpg" alt="GoInstant Homepage">
    <p>An integration of GoInstant and <a href="https://angularjs.org/" target="_blank">Angular.js</a>. Check it out at <a href="http://goangular.org">GoAngular.org</a>.</p>
  </div>
</article>