<aside>
  <h2>Print &amp; Illustration</h2>
  <p>Work created for various print and apparel publications.</p>
  <a href="/projects" class="back">Back</a>
</aside>
<article>
  <div>
    <img src="<%= imgpath %>/projects/illo/excavation.jpg" alt="">
    <p>Commissioned by threadless, <a href="https://www.threadless.com/product/2213/Excavation" target="_blank">available here as a shirt and sweet phone case</a>.</p>
  </div>
  <div>
    <img src="<%= imgpath %>/projects/illo/bubbles.jpg" alt="">
  </div>
  <div>
    <img src="<%= imgpath %>/projects/illo/cabinet.jpg" alt="">
    <p>Printed at threadless, <a href="https://www.threadless.com/product/2805/Cabinet" target="_blank">available here</a>.</p>
  </div>
  <div>
    <img src="<%= imgpath %>/projects/illo/carrie.jpg" alt="">
    <p>Carrie: Part of a set of 10 Stephen King movie posters.</p>
  </div>
<div>
    <img src="<%= imgpath %>/projects/illo/misery.jpg" alt="">
    <p>Misery: Part of a set of 10 Stephen King movie posters.</p>
  </div>
  <div>
    <img src="<%= imgpath %>/projects/illo/petsemetary.jpg" alt="">
    <p>Pet Semetary: Part of a set of 10 Stephen King movie posters.</p>
  </div>
    <div>
    <img src="<%= imgpath %>/projects/illo/shawshank.jpg" alt="">
    <p>The Shawshank Redemption: Part of a set of 10 Stephen King movie posters.</p>
  </div>
  <div>
    <img src="<%= imgpath %>/projects/illo/shining.jpg" alt="">
    <p>The Shining: Part of a set of 10 Stephen King movie posters.</p>
  </div>
  <div>
    <img src="<%= imgpath %>/projects/illo/coat.jpg" alt="">
    <p>Printed at threadless, <a href="https://www.threadless.com/product/1904/A_Coat_of_TechniColor" target="_blank">available here</a>.</p>
  </div>
  <div>
    <img src="<%= imgpath %>/projects/illo/columbus.jpg" alt="">
    <p>Printed at threadless, <a href="https://www.threadless.com/product/2172/Columbus_Was_Wrong" target="_blank">available here</a>.</p>
  </div>
  <div>
    <img src="<%= imgpath %>/projects/illo/boat.png" alt="">
  </div>
  <div>
    <img src="<%= imgpath %>/projects/illo/conjurers.jpg" alt="">
  </div>
  <div>
    <img src="<%= imgpath %>/projects/illo/convo.jpg" alt="">
  </div>
  <div>
    <img src="<%= imgpath %>/projects/illo/cornerstone.jpg" alt="">
    <p>Printed at Design by Humans.</p>
  </div>
  <div>
    <img src="<%= imgpath %>/projects/illo/dandeacon.jpg" alt="">
    <p>Dan Deacon fan concert poster</p>
  </div>
  <div>
    <img src="<%= imgpath %>/projects/illo/diamonds.jpg" alt="">
    <p>Diamonds are Forever</p>
  </div>
  <div>
    <img src="<%= imgpath %>/projects/illo/globe.jpg" alt="">
  </div>
  <div>
    <img src="<%= imgpath %>/projects/illo/hip.jpg" alt="">
    <p>It's hip to be sphere</p>
  </div>
  <div>
    <img src="<%= imgpath %>/projects/illo/hypno.jpg" alt="">
    <p>Hypnopop</p>
  </div>
  <div>
    <img src="<%= imgpath %>/projects/illo/keepitreal.jpg" alt="">
    <p>Keep it Real printed at <a href="http://woot.com" target="_blank">woot.com</a></p>
  </div>
  <div>
    <img src="<%= imgpath %>/projects/illo/kurtvile.jpg" alt="">
    <p>Kurt Vile fan gig poster.</p>
  </div>
  <div>
    <img src="<%= imgpath %>/projects/illo/mickey.jpg" alt="">
    <p>Commissioned by artist <a href="http://upso.com/">UPSO</a> for Besoke Clothier's gallery event.</p>
  </div>
  <div>
    <img src="<%= imgpath %>/projects/illo/mtv1.jpg" alt="">
    <p>1990s: Commissioned by MTV for a decades themed retail store.</p>
  </div>
  <div>
    <img src="<%= imgpath %>/projects/illo/mtv2.jpg" alt="">
    <p>1970s: Commissioned by MTV for a decades themed retail store.</p>
  </div>
  <div>
    <img src="<%= imgpath %>/projects/illo/mtv3.jpg" alt="">
    <p>1980s: Commissioned by MTV for a decades themed retail store.</p>
  </div>
  <div>
    <img src="<%= imgpath %>/projects/illo/noage.jpg" alt="">
    <p>No Age fan gig poster.</p>
  </div>
  <div>
    <img src="<%= imgpath %>/projects/illo/realui.jpg" alt="">
  </div>
  <div>
    <img src="<%= imgpath %>/projects/illo/shapes.jpg" alt="">
  </div>
  <div>
    <img src="<%= imgpath %>/projects/illo/ship.jpg" alt="">
  </div>
  <div>
    <img src="<%= imgpath %>/projects/illo/texturvision.jpg" alt="">
  </div>
  <div>
    <img src="<%= imgpath %>/projects/illo/victor.jpg" alt="">
    <p>Printed at threadless, <a href="https://www.threadless.com/product/1133/Victor_Terrintop" target="_blank">available here</a>.</p>
  </div>
  <div>
    <img src="<%= imgpath %>/projects/illo/void.jpg" alt="">
    <p>Printed at threadless, <a href="https://www.threadless.com/product/2067/Void" target="_blank">available here</a>.</p>
  </div>


</article>