<ul class="projects-list">
	<li>
		<a href="goinstant"><img src="<%= imgpath %>/projects/goinstant/thumb.png" alt="">
		<h4>GoInstant</h4>
		</a>
	</li>
	<li>
		<a href="ouija"><img src="<%= imgpath %>/projects/ouija/thumb.png" alt="">
		<h4>Ouija</h4>
		</a>
	</li>
	<li>
		<a href="soapbox"><img src="<%= imgpath %>/projects/soapbox/thumb.png" alt="">
		<h4>Soapbox</h4>
		</a>
	</li>
	<li>
		<a href="halihax"><img src="<%= imgpath %>/projects/halihax/thumb.png" alt="">
		<h4>Halihax</h4>
		</a>
	</li>
	<li>
		<a href="hiaa"><img src="<%= imgpath %>/projects/airport/thumb.png" alt="">
		<h4>Halifax Airport</h4>
		</a>
	</li>
	<li>
		<a href="storysight"><img src="<%= imgpath %>/projects/storysight/thumb.jpg" alt="">
		<h4>Storysight</h4>
		</a>
	</li>
	<li>
		<a href="illustration"><img src="<%= imgpath %>/projects/illo/thumb.jpg" alt="">
		<h4>Illustration</h4>
		</a>
	</li>

</ul>