<section class="project goinstant">
  <a href="/projects/goinstant" class="logo">
    <img src="<%= imgpath %>/goinstant/logo.png" alt="GoInstant">
  </a>
  <div class="showcase">
    <div>
      <a href="/projects/goinstant"><h2>UI Designer</h2>
        <p>2013 &mdash; Present</p></a>
    </div>
    <div>
      <a href="/projects/goinstant">
        <img src="<%= imgpath %>/goinstant/ss-1.png" alt="GoInstant">
      </a>
      <a href="/projects/goinstant">
        <img src="<%= imgpath %>/goinstant/ss-2.png" alt="GoInstant">
      </a>
    </div>
  </div>
</section>
<section class="project ouija">
  <div class="showcase">
    <div>
      <h2><a href="/projects/ouija">Ouija Commenting System</a></h2>
      <p>Open source comments build for the blogging platform <a href="http://ghost.org" target="_blank">Ghost</a>.</p>
    </div>
  </div>
  <div class="logo">
    <a href="projects/ouija">
      <div class="ouija-logo">
        <div>
          <img src="assets/img/ouija/logo.png">
          <img class="shadow" src="assets/img/ouija/shadow-logo.svg">
        </div>
      </div>
    </a>
  </div>
</section>
<section class="project illo">
  <div class="logo">
    <p><a href="https://www.threadless.com/product/2213/Excavation" target="_blank">Threadless Select</a> design</p>
  </div>
  <div class="showcase">
    <div>
      <h2><a href="/projects/illustration">Print &amp; Apparel</a></h2>
      <a href="/projects/illustration" title="Carrie Poster"><img src="<%= imgpath %>/illo/illo-1.png" alt="Carrie Poster"></a>
    </div>
    <div>
      <a class="top" href="/projects/illustration" title="Columbus Was Wrong">
        <img src="<%= imgpath %>/illo/illo-2.png" alt="Columbus Was Wrong">
      </a>
      <p><a href="/projects/illustration">T-shirt designs</a></p>
      <a href="/projects/illustration" title="Bermuda Pyramid">
        <img src="<%= imgpath %>/illo/illo-3.png" alt="Bermuda Pyramid">
      </a>
    </div>
  </div>
</section>
<section class="about" id="about">
  <aside>
    <img src="<%= imgpath %>/nick.png" alt="Nick. That's me.">
  </aside>
  <article>
    <div>
      <p>I'm a designer, front-end developer, and illustrator living in Hamilton, Ontario working for GoInstant/Salesforce. On the digital front I create UI design for web and mobile apps and make it work responsively in HTML, CSS, and JS. I also reach into the illustration realm with posters, prints, and apparel designs.</p>
      <p>Have an idea for a project or just want to talk? <a href="mailto:ntassone@gmail.com">Email me here.</a></p>
    </div>
    <div class="contact">
      <a href="http://twitter.com/ntassone" class="twitter" target="_blank"><span class="icon-twitter">@ntassone</span></a>
      <a href="http://dribbble.com/ntassone" class="dribbble" target="_blank"><span class="icon-dribbble">dribbble</span></a>
      <a href="http://github.com/ntassone" class="github" target="_blank"><span class="icon-github">github</span></a>
      <a href="http://instagram.com/ntassone" class="instagram" target="_blank"><span class="icon-instagram">instagram</span></a>
    </div>
  </article>
</section>